html {
  position: relative;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
}
.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

div i {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
  font-size: 25px;
  background-color: #198754;
  color: white;
  padding: 7px 10px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

i:hover {
  background-color: lightgreen;
  transition: 0.5s;
}

#menuMenu {
  background-color: #ffff;
}
#menuMakanan {
  background-color: #e2edff;
}

#menuFavorit {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

nav a:hover {
  font-weight: bold;
}

.card {
  box-shadow: 5px 4px 8px 5px rgba(1, 1, 1, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.card:hover {
  font-weight: bold;
}

h2.highlight {
  background: #e2edff;
}
